<div class="container index text-center">
  <h1 class="m-3">My list of restaurants</h1>
    <% @restaurants.each do |restaurant|%>
      <h3 class="card-text m-3"><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <% end %>
<%= link_to new_restaurant_path do %>
  <p><i class="fas fa-plus"></i>  Add a new restaurant</p>
<% end %>
</div>
