// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  color: rgb(100, 100, 100);
}

a:hover {
  text-decoration: none;
  color: rgb(248,114,142);
}

.container {
  height: 500px;
  background-image: url("../../assets/background.jpeg");
   background-size: cover;
    text-align: center;
}

.btn-primary, {
    background-color: rgb(248,114,142) !important;
    border: none;
}

// .btn-primary:hover
